<h1>Listing Vips</h1>

<%= form_for :search_condition, url: vips_path ,
  html: {method: :get,  id: 'search-form' } do  |f| %>
  名前：<%= f.text_field :name %><br/>
  特徴：<%= f.text_field :property %><br/>
  <%= f.submit '検索' %>
<% end %>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>特徴</th>
    <th></th>
    <th></th>
  </tr>

<% @vips.each do |vip| %>
  <tr>
    <td><%= vip.user.name %></td>
    <td><%= vip.user.email %></td>
    <td><%= vip.property %></td>
    <td><%= link_to 'Show', vip %></td>
    <td><%= link_to 'Destroy', vip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Vip', new_vip_path %>
