<p id="notice"><%= notice %></p>

<p>
  <b>Login:</b>
  <%= @shop.login_id %>
</p>

<p>
  <b>Name:</b>
  <%= @shop.name %>
</p>

<p>
  <b>Email:</b>
  <%= @shop.email %>
</p>

<p>
  <b>Password digest:</b>
  <%= @shop.password_digest %>
</p>


<%= link_to 'Edit', edit_shop_path(@shop) %> |
<%= link_to 'Back', shops_path %>
