<h1>Wants#new</h1>
<p>Find me in app/views/wants/new.html.erb</p>



  <%= form_for [:customer, @want] do |f| %>
    <%= f.text_field :amount %><br>
    <%= f.datetime_select :from_date %><br>
    <%= f.hidden_field :locked, value: 0 %><br>
    <%= f.label :answer_id, '募集先' %><br>
    <% @vips.each do |vip| %>
      <%= check_box_tag("answer_ids[]", vip.shop.id  ) %><%= vip.shop.name %><br/>
    <% end %><br>
    <%= f.submit '募集!', class: 'btn' %><br>

  <% end %>

