
  <h3><%= @user.name %></h3>

<div class="box-base">
  <b>紹介ランク:</b>
  <i class="icon-star-empty"></i>
  <i class="icon-star-empty"></i>
  <i class="icon-star-empty"></i>
  <i class="icon-star-empty"></i>
  <i class="icon-star-empty"></i>
  <i class="icon-star-empty"></i><br>
  <b>チェックイン回数:</b>
    20
</div>


<div class="tabbable" id="home-tab"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs ">
    <li class="active"><a href="#tab1" data-toggle="tab">行きつけ</a></li>
    <li><a href="#tab2" data-toggle="tab">食事の履歴</a></li>
    <li><a href="#tab3" data-toggle="tab">メッセージ</a></li>
  </ul>
  <div class="tab-content" id="fav-restaurant">
    <div class="tab-pane active" id="tab1">
      <% @user.shops.each do |shop|  %>
        <%= render 'fav_restaurant_unit', shop: shop %>
      <% end %>

    </div>
    <div class="tab-pane" id="tab2">
      <% @arrival_logs.each do |log|  %>
        <div>
          <%= mmddhhmm_ja( log.arrival_time ) %>
          <%= log.shop.name %>
        </div>
      <% end %>
    </div>
    <div class="tab-pane" id="tab3">
      <% @user.messages.each do |message|  %>
        <div class="well">
          <%= mmddhhmm_ja( message.created_at ) %>
          <h5><%= message.title  %></h5>
          <%= simple_format( message.content ) %>
        </div>
      <% end %>
    </div>
  </div>
</div>
 <hr>

