
  <h3><%= @user.name %></h3>

<div class="box-base">
  <b>紹介ランク:</b>
  <i class="icon-star-empty"></i>
  <i class="icon-star-empty"></i>
  <i class="icon-star-empty"></i>
  <i class="icon-star-empty"></i>
  <i class="icon-star-empty"></i>
  <i class="icon-star-empty"></i><br>
  <b>チェックイン回数:</b>
    20
</div>


<div class="tabbable" id="home-tab"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs ">
    <li class="active"><a href="#tab1" data-toggle="tab">行きつけ</a></li>
    <li><a href="#tab2" data-toggle="tab">食事の履歴</a></li>
    <li><a href="#tab3" data-toggle="tab">メッセージ</a></li>
  </ul>
  <div class="tab-content" id="fav-restaurant">
    <div class="tab-pane active" id="tab1">
      <% @user.shops.each do |shop|  %>


      <div class="fav-restaurant" >
        <div class="row-fluid">
          <div class="img-unit span3">
            <%= image_tag 'dessert-02.jpg', class: 'img' %>
          </div>
          <div class="restaurant-left span9">
            <div>
              <span class="listing-title"><%= shop.name %></span>
            </div>
            <div>
              <span>常連Level : <span class="red">超VIP</span></span><br>
              <span>最後に食事した日 : 2013年6月12日</span>
            </div>
            <div class="status">
              <span class="status-element"><i class="icon-star-empty"></i>23</span>
              <span class="status-element"><i class="icon-user"></i>23</span>
              <span class="status-element status-element-last"><i class="icon-comment"></i>23</span>
            </div>
            <div>
              <span class="btn btn-ex">クイック予約</span>
            </div>
          </div>
        </div>
        <div class="fotter row-fluid">
            <div class="status-mini">
              <span class="status-element"><i class="icon-star-empty"></i>23</span>
              <span class="status-element"><i class="icon-user"></i>23</span>
              <span class="status-element status-element-last"><i class="icon-comment"></i>23</span>
            </div>
            <div class="pull-right">
              【!】ボトルキープ中
            </div>
        </div>
      </div>


      <% end %>

    </div>
    <div class="tab-pane" id="tab2">
      <% @arrival_logs.each do |log|  %>
        <div>
          <%= mmddhhmm_ja( log.arrival_time ) %>
          <%= log.shop.name %>
        </div>
      <% end %>
    </div>
    <div class="tab-pane" id="tab3">
      <% @user.messages.each do |message|  %>
        <div class="well">
          <%= mmddhhmm_ja( message.created_at ) %>
          <h5><%= message.title  %></h5>
          <%= simple_format( message.content ) %>
        </div>
      <% end %>
    </div>
  </div>
</div>
 <hr>

