<!DOCTYPE html>
<html>
<head>
  <title>Aitel</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if @current_shop %>
    <%= link_to 'ログアウト', :session ,method: :delete %>
  <% end %>

<%= yield %>

</body>
</html>
